@charset "UTF-8";

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: radial-gradient(circle at center,
        #1e354f 0%,
        #0f2236 40%,
        #020617 100%);
      font-family: Arial, sans-serif;
      color: #e0e0e0;
      margin: 0;
      height: 100vh;
      overflow: scroll;    
    }
    header {
      background-color: #000000a1;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
   
    header h1 {
      margin: 0;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease;
    }
    header h1:hover {
      transform: scale(1.04);
    }
    .ops {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 3.6%;
      transform: translate(-50%, -50%); 
    }

    .navegacao {
      color: #fff;
      margin: 0 25px;
      text-decoration: none;
      font-weight: bold;
      transition: transform 0.9s ease;
      
    }

    .navegacao:hover {
      display: inline-block;
      color: #f8a528; 
      transform: scale(1.2);
         
    }
    .login a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #8b8b8b25;
      border-radius: 10px;
      justify-content: center;
    }
    .login a:hover {
      background-color: #3838382f;
      transform: scale(1.1);
      color: #f8a528;
    }
    a {
      text-decoration: none;
      color: white;

    }
