@charset "UTf-8";
html {
  scroll-behavior: smooth;
}
.banner {
  background: url(../imagens/banner/banner_g.png) no-repeat center/cover;
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.5s ease;
  box-shadow: 0 0 40px 20px #020c13 inset;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.banner h2 {
  font-size: 60px;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #000000a1;
}
.banner:hover {
  transform: translateY(-7px);
}

.section {
  padding: 50px 20px;
  text-align: center;
}

.section h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #02020280;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 150px;
  transition: transform 0.9s ease;
  color: #ffffff;
  overflow: hidden;
}
  .card:hover {
  background-color: #0808081a;
  transform: scale(1.09);
  border: 2px solid rgba(0, 0, 0, 0.137);       
}

.card h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #FF8E1C;
}

.plataformas {
  display: flex;
  padding: 2em 0.4em;
  background-color: #020c13a2;
  flex-wrap: wrap; 
  overflow: hidden;
}
.slide {
  display: flex;
  gap: 2em;
  animation: scroll 20s linear infinite; /* animação contínua */
  flex-wrap: nowrap;

}
.cardp {
  flex-wrap: nowrap;
  flex:0 0 auto;
  background: #02020280;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-height: 3dvh;
  display: flex;
  font-size: 1.4em;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;

}
@keyframes scroll{
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* metade da track para repetir suavemente */
}
.cardp img {
  max-width: 100%;
  max-height: 100%;
}
.partilhass {
  background: radial-gradient(circle at center, 
  #008A94,
  #002C94,
  #005C95,
  #00946C,
  #020094);
  height: 25em;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  animation: mudarcor 6s ease infinite;
  background-size: 400% 400%;
}

@keyframes mudarcor {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.partilhas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.partilha {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  font-size: large;
  color: #9b9898;
}
.distribua {
  background-color: #02020280;
  max-height: 45px;
  min-height: 45px;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: transform 0.9s ease;
}
.distribua:hover {
  background-color: #08080827;
  transform: scale(1.09);
  border: 2px solid rgba(0, 0, 0, 0.137);
}
.fundoazul {
  height: 100%;
  max-height: 290px;
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  border-radius: 50px;
  border: 3px solid #FF8E1C;
  transition: transform 0.9s ease;
}
.fundoazul:hover {
  transform: scale(1.06);
}
.dividir {
  padding: 3% 0%;
  min-height: 50em;
}
.notitle span {
  font-size: 1.5em;
}
.planos {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em 2em;
  width: 80%;
  min-height: 50em;
  max-width: 1000px;
  border-radius: 3.4%; 
}
.planos h2 {
  color: #f8a528;
  padding: 10px;
}
.notitle {
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  gap: 2em;   
}
.preços {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.137);
  padding: 1em 1em;
  width: 100%;
  border-radius: 20px; 
  min-height: 40em; 
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  background: #02020280;  
}
.preço {
  width: 100%;
  text-align: center;
  border-radius: 20px; 
  color: #f8a528;    
}
.txtbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 0.96em;
}
.txtbtn li {
  padding: 0.2em;
}
hr {
  width: 100%;
}
.aderir {
  background: #8b8b8b25;
  border: none;
  box-shadow: 2px 2px 10px #0206179c;
  color: #fff;
  padding: 5% 40%;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.7s ease;
  font: bold 0.9em Arial, sans-serif;
  color: #f8a528;
}
.aderir:hover {
  transform: scale(1.06);
  background-color: #3838382f;
}
.aderir:active {
  background: hsla(0, 0%, 10%, 0.337);
}
.algo {
  height: 200px;
  background: #020617af;
  margin-top: 7em;
  min-height: 30em;
  max-height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0em;
}
.slider {
  overflow: hidden;
  width: 60em;

}
.slides {
  display: flex;
  width: 200%;
  transition: all 0.9s ease;
}
.bannerPlan {
  text-align: center;
  width: 60em;
  padding: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerPlan h2 {
  color: #f8a528;
}
.bannerPlan img {
  width: 20em;   
}
.voltar, .avançar {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  transition: all 0.9s ease;
}
.voltar {
  transform: rotate(135deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.avançar {
  transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.voltar:hover {
  transform: scale(1.2) rotate(494deg);
}
.avançar:hover {
  transform: scale(1.2) rotate(405deg);
}
.FAQs {
  text-align: center;
  padding: 2em;
 
}
.FAQs h2 {
  cursor: pointer;
}
.FAQ {
  transition: transform 0.9s ease;
}
.FAQ:hover {
  transform: scale(1.05);
  color: #f8a528;
}
.res {
  display: none;
}

.res.mostrar {
  display: block;
}
footer {
  background: #000;
  color: #ffffff8c;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

