@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font: normal 1em 'Figtree', sans-serif;
}
.int_login {
    background-color: #0808081a;
    padding: 5px 40px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    border-radius: 15%;
    box-shadow: 1px 1px 10px #02061779;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    
}
.int_login h2{
    color: #f8a528;
    font-size: 2em;
    margin-top: 1%;
}
.inserir {
    padding: 5px;
    width: 100%;
    position: relative;
}
input {
    width: 100%;
    height: 4em;
    border-radius: 20px;
    background-color: #0808081a;
    color: white;
    padding: 0px 7px;
    outline: 1px solid#fbcd8960;
    border: none;
    transition: all 0.5s ease;
}
input::placeholder {
    transition: all 0.5s ease;
}
input:hover::placeholder {
    transform: translateY(-13px);
    padding: 2px 2px;
}
input:focus {
    outline: 1.7px solid #f8a528;
    transform: scale(1.02);
}
input:focus::placeholder {
    transform: translateY(-13px);
    padding: 2px 2px;
}
.botoes {
    width: 100%;
    padding: 7px;  
}
button {
    width: 100%;
    height: 4em;
    border-radius: 20px;
    transition: all 0.9s ease;
    cursor: pointer;   
}
button:hover {
    transform: scale(1.05);
    background-color: #FF8E1C;
    box-shadow: #020617;
}
a, span {
    color: #f8a538;
    transition: transform 0.9s ease-in-out;
    cursor: pointer;
}
a, span:hover {
    text-decoration: underline;
    color: #f8a528;
}
#fechar {
    transform: scale(1.09);
}
.esquecipass {
    transition: transform 0.9s ease;
}
.esquecipass:hover {
    transform: scale(1.05);
}
/*Criar nova conta*/
.newAccount {
    display: none;
    position: fixed;
    background: linear-gradient(125deg,
    #005f96 0%,
    #015589 40%,
    #0d659b 60%,
    #093d62 100%);
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 750px;
    padding: 20px 40px;
    border-radius: 55px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 5px 5px 10px #0000004f;
}
.param {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    position: relative;
}
.pass {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.pass input {
    width: 17.1em;
}
.checkboxes {
    text-align: start;
}
.box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px 0px;
    color: white;
}
.checkboxes input {
    width: 1.1em;
    height: 1.1em;
    border-radius: 20px;
    background-color: #0808081a;
    padding: 0px 1px;
}
input[type="checkbox"] {
    accent-color: #f8a528;
}
.logotipo {
    position: absolute;
    height: 7em;
    top: 0;
    left: 0;
    transition: all 0.9s ease-in-out;
}
.logotipo:hover {
    transform: rotate(360deg) scale(1.8);
    padding: 17px;
}    

/*Banner de erro */
#passERR1 {
    position: fixed;
    z-index: 999;
    display: none;
    background: #000000a1;
    border-radius: 15px;
    box-shadow: 1px  1px 5px rgba(0, 0, 0, 0.541);
    width: fit-content;
    height: 3em;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5px 15px;
}
#passERR {
    font-weight: bold;
}
#passERR:hover {
    text-decoration: none;
}
#close {
    justify-self: end;
    align-self: start;
    transition: transform 0.7s ease;
}
#close:hover {
    text-decoration: none;
    transform: scale(1.2);
}


/*Mostrar senha*/
.toggle-eye {
  position: absolute;
  right: 10px;
  top: 57%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  padding-right: 10px;
  transition: transform 0.5s ease;
}
.toggle-eye:hover {
    transform: scale(1.09);
    transform: translateY(-10px);
}
.passToggle + .toggle-eye {
    top: 73%;
    padding-right: 5px;
}
.passToggle + .toggle-eye .toggle-eyeImg{
    width: 17px;
}
.toggle-eyeImg {
    width: 23px;
}

